/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

#header img.title {
  margin: -20px 0px 0px -20px;
}

#sidebar #tfc-container {
  clear: both;
}

#sidebar #tfc-container a:hover {
  text-decoration: none;
}

#sidebar #tfc-container p {
  display: inline;
}

#sidebar #tfc-container h3 {
  display: block;
  float: none;
  margin-bottom: 0px;
}

#sidebar #tfc-container h4 {
  font: 24px arial;
  padding-bottom: 0px;
}

#sidebar #tfc-container h5 {
  font: 18px arial;
  padding-bottom: 0px;
}

#sidebar #tfc-container h5 img {
  float: left;
  height: 50px;
  margin: -5px 0px 5px;
  vertical-align: top;
  width: 50px;
}

#wrap #header {
  background: url(images/caelum_bg_header.gif) repeat-x 0 0;
  height: 75px;
  padding-top: 10px;
}

#wrap #header #header_container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#wrap #header #menu-topo {
  height: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#wrap #header #menu-topo ul {
  float: left;
}

#wrap #header #menu-topo ul li {
  float: left;
}

#wrap #header #menu-topo ul li:after {
  content: "|";
  margin: 0px 5px;
}

#wrap #header #menu-topo #facebook-like {
  float: left;
  position: relative;
  top: 7px;
  width: 100px;
}

#wrap #header #menu-topo #facebook-like iframe {
  width: 100px;
}

#wrap #header h1 {
  display: block;
  margin-left: 15px;
}

#wrap #top-out {
  background: url(images/caelum_bg_top.gif) repeat-x 0 0;
}