/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

#header img.title {
  margin: -20px 0px 0px -20px;
}

#sidebar #tfc-container {
  clear: both;
}

#sidebar #tfc-container a:hover {
  text-decoration: none;
}

#sidebar #tfc-container p {
  display: inline;
}

#sidebar #tfc-container h3 {
  display: block;
  float: none;
  margin-bottom: 0px;
}

#sidebar #tfc-container h4 {
  font: 24px arial;
  padding-bottom: 0px;
}

#sidebar #tfc-container h5 {
  font: 18px arial;
  padding-bottom: 0px;
}

#sidebar #tfc-container h5 img {
  float: left;
  height: 50px;
  margin: -5px 0px 5px;
  vertical-align: top;
  width: 50px;
}

#wrap #header {
  background: url(images/caelum_bg_header.gif) repeat-x 0 0;
  height: 75px;
  padding-top: 0px;
}

#wrap #header #header_container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#wrap #header #menu-topo {
  position: absolute;
  right: 0px;
  top: 0px;
}

#wrap #header #menu-topo ul {
  float: left;
  position: relative;
  left: 2px;
}

#wrap #header #menu-topo ul li {
  float: left;
  font: 13px Arial, Helvetica, Sans-serif;
}

#wrap #header #menu-topo ul li a:link,
#wrap #header #menu-topo ul li a:visited {
  color: #36C;
  text-decoration: underline;
}

#wrap #header #menu-topo ul li a:hover {
  text-decoration: none;
}

#wrap #header #menu-topo ul li:after {
  content: "|";
  margin: 0px 5px;
}

#wrap #header #menu-topo #facebook-like {
  float: left;
  position: relative;
  top: 7px;
  left: 5px;
  width: 100px;
  height: 30px;
}

#wrap #header #menu-topo #facebook-like iframe {
  width: 100px;
}

#wrap #header h1 {
  display: block;
  margin-left: 16px;
  padding-top: 12px;
}

#wrap #top-out {
  background: url(images/caelum_bg_top.gif) repeat-x 0 0;
}

.social_bar {
  padding: 15px 0px 0px;
}

.social_bar > span {
  display: block;
}

.social_bar > a {
  margin: 0px 10px 0px 0px;
  position: relative;
  top: -6px;
}

.fb_share_count_nub_right {
  margin-top: 7px;
}

#cse-search-results {
  width: 560px;
}

#cse-search-results iframe[width="795"] {
  width: 560px;
}

#cse-search-results iframe[height="1400"] {
  height: 960px;
}

#menu-topo #busca {
  margin-top: 8px;
  float: left;
  width: 275px;
  margin-right: 8px;
}

#menu-topo #busca-q {
  background: white url('http://www.caelum.com.br/imagens/base/header.vsprite/sprite.1297507838.png') no-repeat 0 -215px;
  border: 1px solid #777;
  border-right: 0;
  float: left;
  font: 13px Arial, Helvetica, Sans-serif;
  height: 18px;
  padding: 1px 1px 1px 19px;
  width: 185px;
  margin: 0px;
}

#menu-topo #busca-submit {
  background: #777;
  border: 0;
  color: white;
  float: left;
  font: 13px Arial, Helvetica, Sans-serif;
  height: 22px;
  padding: 3px;
  margin: 0px;
}

#footer-link {
  position: relative;
  top: 4px;
}

#footer-link li {
  display: inline;
}

#footer-link li a:link,
#footer-link li a:visited {
  color: #FFF;
  font: bold 13px Arial, Helvetica, Sans-serif;
  margin: 0px 10px;
}

#footer-link li a:hover {
  color: #F5F5F5;
  text-decoration: underline;
}