/*  green style */


/*  Images */
#top-out {
	background: url(green/bg_top.gif) repeat-x 0 0;
}
#header {
	background: url(green/bg_top_gradient.gif) no-repeat 60px 0;
}
#middle-out-top { /* Background - Middle Top */
	background: #dce0d2 url(green/bg_middle_out_top.gif) repeat-x 0 0;
}
#middle-out-bottom { /* Background - Middle Bottom Gradient */
	background: url(green/bg_middle_out_bottom.gif) repeat-x left bottom;
}
#middle-out-bottom .single { /* Background - Content - Single Page */
	background: url(green/bg_middle_content_single.gif) repeat-y;
}
#middle-content { /* Background - Content */
	background: url(green/bg_middle_content.gif) repeat-y;
}
#middle-content-bottom { /* Background - Content Bottom */
	background: url(green/bg_middle_content_bottom.gif) no-repeat 0 bottom;
}
#content {
	background: url(green/bg_middle_top.gif) no-repeat 0 0;
}
#footer {
	background: url(green/bg_footer_gradient.jpg) no-repeat 0 0;
}
#middle-out-bottom .full { /* Background - Content - Full Width Page */
	background: url(green/bg_page_full.gif) repeat-y;
}
#content.full {
	background: url(green/bg_middle_top_full.gif) no-repeat 0 0;
}
#middle-content-bottom.full { /* Background - Content Bottom */
	background: url(green/bg_middle_content_bottom_full.gif) no-repeat 0 bottom;
}

/*  Colors */
a {
	color: #6b882c;
}
#footer h2.widget_title {
	background: #707761;
	color: #fff;
}
#footer .block ul, #footer .block .textwidget , #footer .block #calendar_wrap{
	border: #d2d6ca 5px solid;
	background: #EDEDED;
}
.Nav a, .Nav .on,
#sidebar h2,
#sidebar ul.idTabs li a {
	background: #707761;
}
#main-content .post h4.continue a,
#sidebar ul.idTabs li a.selected, #sidebar ul.idTabs li a:hover {
	background: #71882c;
}
.Nav .on, .Nav a:hover {
	background: #71882c !important;
}
#main-content .post h4.continue a:hover {
	background: #607125;
}
#copyright-out {
	background: #3a3e31;
}
#nav li ul li a {
	background: #2d3409;
	border-bottom: 1px solid #262b08;
}
#footer-out {
	background: #b7bda9;
}



