/*  pink style */


/*  Images */
#top-out {
	background: url(pink/bg_top.gif) repeat-x 0 0;
}
#header {
	background: url(pink/bg_top_gradient.gif) no-repeat 60px 0;
}
#middle-out-top { /* Background - Middle Top */
	background: #ede1ee url(pink/bg_middle_out_top.gif) repeat-x 0 0;
}
#middle-out-bottom { /* Background - Middle Bottom Gradient */
	background: url(pink/bg_middle_out_bottom.gif) repeat-x left bottom;
}
#middle-out-bottom .single { /* Background - Content - Single Page */
	background: url(pink/bg_middle_content_single.gif) repeat-y;
}
#middle-content { /* Background - Content */
	background: url(pink/bg_middle_content.gif) repeat-y;
}
#middle-content-bottom { /* Background - Content Bottom */
	background: url(pink/bg_middle_content_bottom.gif) no-repeat 0 bottom;
}
#content {
	background: url(pink/bg_middle_top.gif) no-repeat 0 0;
}
#footer {
	background: url(pink/bg_footer_gradient.jpg) no-repeat 0 0;
}
#middle-out-bottom .full { /* Background - Content - Full Width Page */
	background: url(pink/bg_page_full.gif) repeat-y;
}
#content.full {
	background: url(pink/bg_middle_top_full.gif) no-repeat 0 0;
}
#middle-content-bottom.full { /* Background - Content Bottom */
	background: url(pink/bg_middle_content_bottom_full.gif) no-repeat 0 bottom;
}

/*  Colors */
a {
	color: #653167;
}
#footer h2.widget_title {
	background: #8c7e8d;
	color: #fff;
}
#footer .block ul, #footer .block .textwidget , #footer .block #calendar_wrap{
	border: #b4a3b5 5px solid;
	background: #EDEDED;
}
.Nav a, .Nav .on,
#sidebar h2,
#sidebar ul.idTabs li a {
	background: #8c7e8d;
}
#main-content .post h4.continue a,
#sidebar ul.idTabs li a.selected, #sidebar ul.idTabs li a:hover {
	background: #724274;
}
.Nav .on, .Nav a:hover {
	background: #724274 !important;
}
#main-content .post h4.continue a:hover {
	background: #603862;
}
#copyright-out {
	background: #3b303c;
}
#nav li ul li a {
	background: #561248;
	border-bottom: 1px solid #4c1040;
}
#footer-out {
	background: #c7b5c8;
}



