/*  teal style */


/*  Images */
#top-out {
	background: url(teal/bg_top.gif) repeat-x 0 0;
}
#header {
	background: url(teal/bg_top_gradient.gif) no-repeat 60px 0;
}
#middle-out-top { /* Background - Middle Top */
	background: #d2e0de url(teal/bg_middle_out_top.gif) repeat-x 0 0;
}
#middle-out-bottom { /* Background - Middle Bottom Gradient */
	background: url(teal/bg_middle_out_bottom.gif) repeat-x left bottom;
}
#middle-out-bottom .single { /* Background - Content - Single Page */
	background: url(teal/bg_middle_content_single.gif) repeat-y;
}
#middle-content { /* Background - Content */
	background: url(teal/bg_middle_content.gif) repeat-y;
}
#middle-content-bottom { /* Background - Content Bottom */
	background: url(teal/bg_middle_content_bottom.gif) no-repeat 0 bottom;
}
#content {
	background: url(teal/bg_middle_top.gif) no-repeat 0 0;
}
#footer {
	background: url(teal/bg_footer_gradient.jpg) no-repeat 0 0;
}
#middle-out-bottom .full { /* Background - Content - Full Width Page */
	background: url(teal/bg_page_full.gif) repeat-y;
}
#content.full {
	background: url(teal/bg_middle_top_full.gif) no-repeat 0 0;
}
#middle-content-bottom.full { /* Background - Content Bottom */
	background: url(teal/bg_middle_content_bottom_full.gif) no-repeat 0 bottom;
}

/*  Colors */
a {
	color: #313e3d;
}
#footer h2.widget_title {
	background: #617773;
	color: #fff;
}
#footer .block ul, #footer .block .textwidget , #footer .block #calendar_wrap{
	border: #cad6d4 5px solid;
	background: #EDEDED;
}
.Nav a, .Nav .on,
#sidebar h2,
#sidebar ul.idTabs li a {
	background: #617773;
}
#main-content .post h4.continue a,
#sidebar ul.idTabs li a.selected, #sidebar ul.idTabs li a:hover {
	background: #2c8871;
}
.Nav .on, .Nav a:hover {
	background: #2c8871 !important;
}
#main-content .post h4.continue a:hover {
	background: #25715c;
}
#copyright-out {
	background: #313e3c;
}
#nav li ul li a {
	background: #09342b;
	border-bottom: 1px solid #081c2b;
}
#footer-out {
	background: #a9bcbd;
}



